.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.item {
  min-width: 310px;
  margin-bottom: 5px;
  display: flex;  
  align-items:center;
  justify-content:space-between;
  border: none;
  border-radius: 5px;
  color: #282c34;
}

.title {
  padding: 5px 10px;
}

.edit_input_field {
  min-width: 200px;
  border: none;
  padding: 10px;
  margin: 5px;
  background: transparent;
  color: #282c34;
  font-size: calc(10px + 2vmin);
}

.del_btn, .edit_btn {
  border: none;
  padding: 5px 15px;
  margin-left: 10px;
  background-color: transparent;
  color: #282c34;
}
.edit_btn, .submitBtn:hover {
  cursor: pointer;
}

.del_btn:hover {
  cursor: pointer;
  color: white;
}

form {
  margin-bottom: 10px;
}

ul {
  padding: 0px;
  margin: 10px;
  list-style-type: none;
}

input {
  border: 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 200px;
}

.submitBtn {
  border: 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: rgb(233, 233, 233);
  width: 80px;
}

.item:hover {
  cursor: grab;
}

input, textarea, input:active, textarea:active {outline:none;}

.error_m {
  margin: 0;
  margin-bottom: 3px;
  padding: 5px;
  color:burlywood;
  font-weight: 200;
  font-size: medium;
  width: fit-content;
}